In [8]:
# Move up one level in directory to allow imports
import sys
sys.path.insert(0, '..')

import pandas as pd
from data.airport_dicts import *

In [61]:
# Define airports to select
market_airports = ["SEA", "SNA"]
market_coterms = ["LAX", "LGB", "BUR", "ONT"]
market_all_airports = market_airports + market_coterms

In [62]:
# Import average fare dataframe from static tables
average_fare_df = pd.read_csv("../data/table.csv")

# Filter for market airports
average_fare_df = average_fare_df[average_fare_df["Airport Code"].isin(market_all_airports)]

# Drop state column
average_fare_df.drop('State Name', axis=1)

# Drop inflation column
average_fare_df.drop('Inflation Adjusted Average Fare ($) (Base Quarter:  Q2-2025)', axis=1)

average_fare_df

,2024 Passenger Rank,Airport Code,City Name,State Name,Average Fare ($),Inflation Adjusted Average Fare ($) (Base Quarter: Q2-2025)
0,1,LAX,Los Angeles,CA,413.68,413.68
7,8,SEA,Seattle,WA,400.25,400.25
46,47,SNA,Santa Ana,CA,406.95,406.95
52,53,ONT,Ontario,CA,375.80,375.80
54,55,BUR,Burbank,CA,316.68,316.68
73,74,LGB,Long Beach,CA,345.59,345.59

In [75]:
# Import market info dataframe from static tables
la_seattle_df = pd.read_csv("../data/la_to_seattle_t1_static.csv")

# Combine year and quarter, insert at front, and sort
period = la_seattle_df['year'].astype(str) + "Q" + la_seattle_df['quarter'].astype(str)
la_seattle_df.insert(0, 'period', period)
la_seattle_df.sort_values(by="period", ascending=True, inplace=True)

# Drop extra columns
la_seattle_df = la_seattle_df.drop(['year', 'quarter', 'city1', 'city2', 'nsmiles', 'citymarketid_1', 'citymarketid_2', 'table_1_flag', 'location_1', 'location_2', 'location_1_city', 'location_2_city'], axis=1)


la_seattle_df

,period,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low
117,1996Q1,3760.100000,105.930000,AS,0.590000,110.500000,WN,0.100000,83.880000
116,1996Q2,4824.280000,109.190000,AS,0.580000,114.010000,WN,0.110000,72.440000
115,1996Q3,6121.840000,103.180000,AS,0.610000,107.410000,UA,0.180000,103.780000
114,1996Q4,4553.470000,104.060000,AS,0.560000,106.190000,UA,0.200000,104.950000
113,1997Q1,4081.880000,110.810000,AS,0.560000,109.360000,AS,0.560000,109.360000
...,...,...,...,...,...,...,...,...,...
4,2024Q2,7835.934066,199.847878,AS,0.620486,200.990948,AS,0.620486,200.990948
3,2024Q3,8595.543478,190.339173,AS,0.612792,194.774975,AS,0.612792,194.774975
2,2024Q4,7596.521739,196.851860,AS,0.625801,201.723470,AS,0.625801,201.723470
1,2025Q1,5838.666667,188.195690,AS,0.618216,192.284480,AS,0.618216,192.284480
0,2025Q2,7594.175824,195.734587,AS,0.600287,201.024812,AS,0.600287,201.024812